In [74]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sumuk\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\sumuk\anaconda3\lib\site-packages (from selenium) (1.25.11)

<b>Q1.Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.<b>

In [75]:
#Importing necessary data
import selenium 
import pandas as pd
from selenium import webdriver

In [76]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [77]:
#Getting the url
url = 'https://www.naukri.com/'
driver.get(url)

In [78]:
#Getting web element for searching job
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [79]:
#Searching for the asked Job position
search_job.send_keys("Data Analyst")

In [80]:
#Seaching for asked location
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [81]:
#Getting button element and excecuting click
search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [93]:
#scraping job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="67399321-b500-48eb-8534-054d187b70c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="88e6b893-8476-45d2-adf5-68d55493559c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="b7756ba3-e007-4313-9053-c4f1b5da67f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="a9ed8442-bdd5-4614-a647-06b52e68e492")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="3b52e683-76dc-47b7-8a8d-1440a140a2dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="a542a1d3-ea4b-4bc2-adf5-a88d2a7b78d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="b2248c97-821a-4974-a5fd-a924922b8c47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="621c80dc-490b-4aab-b87c-4009575cf895")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="40690250-9af0-476c-b292-663522c3d844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="20e01a2b-9077-4d3e-bd67-a42c2a7f9298")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="845d23db-f643-4a12-8e2f-d15f03cfee2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="4dcc4b19-b8c5-43bd-9369-ea67b6c89f83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="64705791-8849-4e25-85ba-4d08852de79a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="0d98a52b-d397-4685-bc11-1ae1b5f58669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="7057cffe-3c5d-4a04-8e6c-ff0ffe3195be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="0ab09d4c-dc12-465b-b8d2-29eccd16d419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="255a592e-1dea-40d4-bafc-735a4e06c862")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="4d513227-849e-4a15-8634-1d8d0d529df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="bf297efb-20d5-4332-be42-2c9fb4e44921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="c01692d2-bf19-477e-8636-f4ee43066e42")>]

In [94]:
#Getting text and saving in list
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Senior Specialist - Data Analyst',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst II',
 'Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst',
 'Data Analyst/Business Analyst-Gurgaon/Bangalore/Mumbai (only Females)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data/Business Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Marketing Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [95]:
#scraping company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="12649ff6-cf07-4337-b8b2-8629700390c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="4ed6619a-b441-48e2-bdfc-4f4810070f76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="f6b9fec1-d5f4-4ec4-a6b6-1328e03fd8a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="f5e28d0e-0e2b-4900-bcb9-0d4ba036de9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="4a7bd4cf-362a-4738-8087-ada6e210f76b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="bf0b0c98-636a-4e73-83b1-b9bb0b3796a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="5c125326-f484-49bd-b0ef-1aed516f6e53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="b254c036-9d53-4def-84ba-47522d6b2a75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="34e26992-d69f-4655-8899-9809b3b39a30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="e8ccbc9f-41d5-405e-9d55-77fa6669e21c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="23a17c82-2270-4b83-8454-cdcb4213ae8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="13d8d566-1aa4-4180-ada5-84ca0a3395f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="7cadd2f2-875f-492b-9637-1b07665baad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="05e174e8-79c7-406b-a3a2-ffc0e1cba094")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="0c26f1e8-47b3-4b06-8f49-df793c186ee4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="9f35b969-3707-4f40-a243-a2a8cb9dc50c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="13dbce60-0568-46dd-a7e7-3c42bd76d5b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="347e5f02-589a-47bd-8719-54ea6b8c9069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="7a06d7d1-8f78-42b4-bb4b-7993cea2eb6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="3d863342-0892-40a6-a70f-7e1f0fe709b7")>]

In [96]:
#Getting text and saving in list
company_titles = []
for i in companies_tags:
    company_titles.append(i.text)
company_titles

['Philips India Limited',
 'CGI Information Systems and Management Consultants',
 'Infobahn Softworld Inc.',
 'WEIWO Communication Pvt. Ltd.',
 'Trigent Software',
 'Trigent Software',
 'India Medtronic Pvt. Ltd,.',
 'SMEDC SERVICES PRIVATE LIMITED',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Enzen Global Solutions Pvt. Ltd',
 'CGI Information Systems and Management Consultants',
 'Liventus, Inc.',
 'Pronto Consulting Services',
 'Qlik',
 'Gojek Tech',
 'GO-JEK India',
 'Eli Lilly Services India Private Limited',
 'Infobahn Softworld Inc.',
 'GCC SERVICES INDIA PRIVATE LIMITED']

In [97]:
#scraping experience
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="c9ecdc72-08bc-4c93-8fb5-749d1737ab70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="98c76f41-28eb-4b87-ac74-ef3967e9c07f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="e66d4fcb-8584-410a-81d7-d49c816342a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="68a0a33e-3b44-4cbe-85ed-3837bec9ba4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="85175b27-480d-47ed-9314-b968ffef3bae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="ff99fba8-e7e9-44ea-8f36-b2860ad0b85b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="2c2bc050-a0ee-447c-903e-10e2f821a985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="a0beaa30-abc5-4adc-8700-043e9546db88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="adc1edd7-73aa-4c50-9ccd-5ce879b8e832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="55ceb3f6-3448-4b48-9231-3e8f596205ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="4973529c-f369-48eb-a800-a164a1d2e74c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="658fdb39-77a7-427b-af47-afe60b0948c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="cb073b4e-6e69-4f5e-a5dc-0ee34df78dc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="5dcbe3e4-5e9b-436d-9e40-9e902cab2879")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="aab1c04e-6deb-4030-a38a-f0d87490831b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="9d03f80f-d809-4ff0-ac00-ed53330bfbf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="1bd4e59a-6f7a-4943-839c-f41f775a8a8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="5fcb87ab-5ccc-4bec-9554-e4b4418b8f5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="b1ad50f4-c934-4381-83ea-a36ca3fa9ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="84735efb-0215-4be8-a6e6-8d68e34277fe")>]

In [98]:
#Getting text and saving in list
experience_list = []
for i in experience_tags:
    experience_list.append(i.text)
experience_list

['4-8 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '3-9 Yrs',
 '5-9 Yrs']

In [99]:
#Scraping location
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="becab937-3553-4c90-99d3-454866727cdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="de73fefa-7c43-4ed9-b116-0c4c172c23c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="2cf9e321-d2b8-4149-9695-f3414d97b9c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="be4db1d2-f680-455e-af0d-8a7689873f72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="6fdc1e12-8d33-47bd-90da-a21f4b7efd4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="9c0d6801-8bb6-48e4-a3d7-05efb28095dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="fb093de5-3b7c-43fd-819e-e207b4c7531d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="d282309d-354b-4e42-aa6a-291e06ec754d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="6fbb7255-60f8-4a15-9a62-372f155661cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="6f6436a8-9309-48d5-b2d4-70b278a9b666")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="fce85a1e-68d5-411e-9e20-da23103d8c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="1271c6b8-7b86-4134-b518-9ce225b7773b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="b82ca3df-db1c-474d-83f9-733531bc2592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="d537800d-bfe9-4b42-b926-d17f3cc7f7fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="f9bc7862-76a5-4742-96da-daffefa6c942")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="8d915f27-5d00-4d06-967e-86a50788e0b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="445d91c4-79d4-4ae1-95c0-af4d00dc3a9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="a7ca95d0-a560-4a82-bb10-ee77c4eb8538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="53d86ff1-21a2-4a68-9390-c1ef65cbb6ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5ab742dcacb8901485753ee5cfaef1e9", element="fd409643-e719-4d5f-8f2d-dd1649e98daf")>]

In [100]:
#Getting text and saving in list
location_list = []
for i in location_tags:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [101]:
#Checking length
print(len(company_titles),len(job_titles),len(experience_list),len(location_list))

20 20 20 20

In [102]:
#Creating data frame
jobs = pd.DataFrame({})
jobs['Title'] = job_titles
jobs['Company Name'] = company_titles
jobs['Experience Required'] = experience_list
jobs['Location'] = location_list

In [103]:
#Getting top 10 jobs
jobs_first10 = jobs.head(10)
jobs_first10

,Title,Company Name,Experience Required,Location
0,Senior Specialist - Data Analyst,Philips India Limited,4-8 Yrs,Bangalore/Bengaluru
1,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,2-5 Yrs,Bangalore/Bengaluru
2,Business Data Analyst II,Infobahn Softworld Inc.,5-8 Yrs,Bangalore/Bengaluru
3,Data Analyst,WEIWO Communication Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru(Ulsoor)
4,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
5,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
6,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"India Medtronic Pvt. Ltd,.",1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
7,Senior Data Analyst,SMEDC SERVICES PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru
8,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
9,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru

<b>Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.<b>

In [122]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [123]:
#Getting the url
url = 'https://www.naukri.com/'
driver.get(url)

In [124]:
#Getting web element for searching job
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [125]:
#Searching for the asked Job position
search_job.send_keys("Data Scientist")

In [126]:
#Seaching for asked location
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [127]:
#Getting button element and excecuting click
search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [130]:
#Getting a list of url for each job
job_opening_urls = []
url = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in url:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls

['https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bangalore-bengaluru-8-to-10-years-060821501599?src=jobsearchDesk&sid=16283307827601464&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-060821907733?src=jobsearchDesk&sid=16283307827601464&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-symbiosis-international-w-l-l-bangalore-bengaluru-10-to-15-years-050821004331?src=jobsearchDesk&sid=16283307827601464&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mcafee-software-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-050821501145?src=jobsearchDesk&sid=16283307827601464&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-datamatics-global-services-ltd-bangalore-bengaluru-8-to-13-years-040821003517?src=jobsearchDesk&sid=16283307827601464&xp=5&px=1',
 'https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-dot-net-cunesoft-india-private-limited-bangalore-bengaluru-3-to-8-years-190121001281?src=jobsearchDesk&sid=16283307827601464&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-uber-bangalore-bengaluru-6-to-8-years-050821500683?src=jobsearchDesk&sid=16283307827601464&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-260721907182?src=jobsearchDesk&sid=16283307827601464&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-030821501259?src=jobsearchDesk&sid=16283307827601464&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bidgely-technologies-private-limited-bangalore-bengaluru-4-to-6-years-030821500043?src=jobsearchDesk&sid=16283307827601464&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-goals-101-data-solutions-pvt-ltd-new-delhi-bangalore-bengaluru-delhi-ncr-4-to-8-years-030821000870?src=jobsearchDesk&sid=16283307827601464&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-permanent-role-onward-technologies-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030821002780?src=jobsearchDesk&sid=16283307827601464&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-randstad-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-280721000424?src=jobsearchDesk&sid=16283307827601464&xp=13&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-tech-lead-data-science-confidential-bangalore-bengaluru-6-to-9-years-020821903704?src=jobsearchDesk&sid=16283307827601464&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-l-a-consultancy-kochi-cochin-hyderabad-secunderabad-pune-chennai-delhi-ncr-bangalore-bengaluru-5-to-9-years-310721903849?src=jobsearchDesk&sid=16283307827601464&xp=15&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-tensorflow-machine-learning-getinz-techno-services-mumbai-hyderabad-secunderabad-chennai-bangalore-bengaluru-7-to-10-years-250721900474?src=jobsearchDesk&sid=16283307827601464&xp=16&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-310721500675?src=jobsearchDesk&sid=16283307827601464&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-engineers-data-scientist-and-sap-teamware-solutions-bangalore-bengaluru-7-to-10-years-300721500677?src=jobsearchDesk&sid=16283307827601464&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-applied-scientist-microsoft-india-r-and-d-pvt-ltd-bangalore-bengaluru-3-to-5-years-060821501871?src=jobsearchDesk&sid=16283307827601464&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-software-engineer-data-scientist-ara-resources-bangalore-bengaluru-6-to-10-years-290721906399?src=jobsearchDesk&sid=16283307827601464&xp=20&px=1']

In [131]:
#Scraping job for each url
job_titles = []
for i in job_opening_urls:
    driver.get(i)
    try:
        job_title = driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        job_titles.append(job_title.text)
    except:
        pass
job_titles

['Senior Data Scientist',
 'Senior Data Scientist',
 'DATA SCIENTIST',
 'Senior Data Scientist',
 'Software Developer - Data Scientist / NLP / Machine Learning & Dot Net',
 'Data scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Permanent Role',
 'Senior Data Scientist',
 'Sr. Data Scientist / Tech Lead - Data Science',
 'Senior Data Scientist',
 'Lead Data Scientist - Tensorflow/Machine Learning',
 'Associate Data Scientist',
 'Data Engineers , Data Scientist and SAP',
 'Senior Data & Applied Scientist',
 'Senior Software Engineer - Data Scientist']

In [133]:
#Scraping company names for each url
company_names = []
for i in job_opening_urls:
    driver.get(i)
    try:
        company_name = driver.find_element_by_xpath('//a[@class="pad-rt-8"]')
        company_names.append(company_name.text)
    except:
        pass
company_names

['SYMBIOSIS International W.L.L',
 'McAfee Software (India) Pvt. Ltd',
 'Datamatics Global Services Ltd',
 'Cunesoft India Private Limited',
 'Uber',
 'Publicis Groupe',
 'Bidgely Technologies Private Limited',
 'Goals 101 Data Solutions Pvt. Ltd.',
 'Onward Technologies Limited',
 'RANDSTAD INDIA PVT LTD',
 'Confidential',
 'L A Consultancy',
 'Getinz Techno Services',
 'ExecBoardinAsia',
 'Teamware Solutions',
 'Microsoft Corporation',
 'Ara Resources']

In [134]:
#Scraping experience for each url
experience_list = []
for i in job_opening_urls:
    driver.get(i)
    try:
        experience = driver.find_element_by_xpath('//div[@class="exp"]')
        experience_list.append(experience.text)
    except:
        pass
experience_list

['8 - 10 years',
 '10 - 15 years',
 '4 - 8 years',
 '8 - 13 years',
 '3 - 8 years',
 '6 - 8 years',
 '2 - 5 years',
 '4 - 6 years',
 '4 - 8 years',
 '6 - 11 years',
 '4 - 9 years',
 '6 - 9 years',
 '5 - 9 years',
 '7 - 10 years',
 '5 - 10 years',
 '7 - 10 years',
 '3 - 5 years',
 '6 - 10 years']

In [136]:
#Scraping locations for each url
location_list = []
for i in job_opening_urls:
    driver.get(i)
    try:
        location = driver.find_element_by_xpath('//span[@class="location "]')
        location_list.append(location.text)
    except:
        pass
location_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [144]:
#Scraping job description for each url
discriptions = []
for i in job_opening_urls:
    driver.get(i)
    try:
        job_desc = driver.find_element_by_xpath('//div[@class="dang-inner-html"]')
        discriptions.append(job_desc.text)
    except:
        pass
discriptions

['  Be a part of the Enterprise IT , Information and Data Science team and drive a strategic and actionable Data Science architecture to activate the needed business capabilities. Deliver business use cases like Care Provider (Customer, Product , IB ) 360 initiative, Product bundling , Value Based pricing , Conversational AI, Indirect Trade partner classification , Data pipeline predictions etc - an ambition to better understand the needs of Healthcare Providers, the way Philips serves its customers and how and where Philips can add value to the customer decision journey.\nYour responsibilities\nEnsure strategic direction for data science capabilities for Philips is created and kept up to date on a regular basis\nContinuously evaluate the latest techniques in Artificial intelligence, machine learning, robotics, statistical analysis\nImplement advanced algorithms for business problems based on statistical analysis, coding, deep learning, advanced data mining techniques etc.\nDevelop new algorithms if necessary, to bring predictive, advanced statistics / learning based solutions\nDevelop algorithms to further automate processes and feed insights back into PIL for better business outcome\nCo-create with business / market / functions or IT platforms on requirements\nEnsure quality of data and solution developed\nLead and drive data mining, creating algorithms, collection of data, collection of procedures during the design, build phases of a project\nLead and drive in deploy and testing of the solutions and insights\nSpot and evaluate emerging/cutting edge, open source, data science/machine learning libraries\nYou are part of:\nYou will be part of Group IT , Information and Data Management team that drives business impact through Data Science and Advanced analytics. A team that instigates collaboration across diverse teams globally to manage Data as an asset at Philips.\nCore competencies needed to be successful:\nA Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Applied Mathematics, Statistics or equivalent;\n8-10 years of overall experience in data science, data analytics roles\n8+ years of experience in multiple of machine learning, data mining, deep learning, artificial intelligence, pattern recognition areas\nExperience in driving implementation of solutions, data and algorithms on data warehouse and lakes like Azure , AWS, SQL etc\nDemonstrable advanced programming experience in Python or another programming language such as Azure ML/R/Python etc ;\nStrong analytical and social skills and the capability to translate data intelligence into valuable insights for the senior stakeholders in the company\nAbility to formulate multiple complex business problems into hypothesis and proof of concepts for testing\nManage Projects and lead a sub-portfolio of data science project teams to deliver results\nCoach, Guide and direct teams of internal and vendor resources\nCollaborate across IT platform teams to deploy solutions and drive continuous improvements\nManage senior stakeholder in the company in a matrix organization i.e. Market / BG / Function leaders',
 "Required Candidate profile\nWe are looking for a Senior Data Scientist with a min of 10 years experience in Banking Financial Domain (especially Compliance related) and a solid background in Cloudera.\nAs a Cloudera Specialist, you must be adept in Cloudera tools like CDH, CEPH, CM, CMA, Data node EDH, HVE, JAS, NameNode, Nodemanager, QJM, QJN, RM and ZK.\nThis will be a two years assignment to one of the Leading Class A banks in Abu Dhabi.\nCandidate should have finished two or three full implementations of Data Analytics in Compliance in large Enterprise Banks.\nShould be having thorough knowledge in R, Python, Scala on demand and Jupyter Notebooks.\nShould be having hands experience in CCA Spark and Hadoop developer.\nShould be having a Financial Compliance Background with a good knowledge and hands on expertise on Compliance related domains.\nShould be a Machine Learning expert and create new models and use various library in that area. You should have proven skills in this area.\nShould be having a thorough theoretical and practical idea on the following systems (From a Data Scientist Perspective)\nHDFS\nYarn\nMapReduce\nHive\nPig\nApache Ambari\nHBase / Apache Impala\nStorm\nOozie\nRanger\nZookeeper\nVarious data ingestion tools like Sqoop, flume, Kafka\nVarious reporting tools like Drill, Phoenix, Zeppelin\nWill be an added advantage if you have exposure to GPU processing, Tensor Flow and Data Lakes.\nShould be able to produce high Quality Business documentation, Project Management, Agile Framework practices as needed.\nShould inspect the current Cloudera Architecture and suggest enhancements or improve it.\nShould be able to communicate with Senior Business Management ideas, concepts and deliverables.\nIf you have certifications on Cloudera (Cloudera Data Engineer, Spark and Hadoop Developer), it will be an added advantage.\nData Scientist - Compliance\nResponsibilities:\nUse advanced analytics methods to extract value from business data\nPerform large-scale experimentation and build data-driven models to answer business questions\nConduct research on cutting-edge techniques and tools in machine learning/deep learning/artificial intelligence\nDetermine requirements that will be used to train and evolve deep learning models and algorithms\nArticulate a vision and roadmap for the exploitation of data as a valued corporate asset\nInfluence product teams through presentation of data-based recommendations\nEvangelize best practices to analytics and products teams\nAssemble large, complex data sets that meet functional / non-functional business requirements.\nIdentify, design, and implement internal process improvements: automating manual processes, optimizing analytics delivery, re-designing infrastructure for greater scalability, etc.\nBuild analytics tools that utilize the data to provide actionable insights into customer acquisition, operational efficiency and other key business performance metrics.\nWork with stakeholders including the Executive, Product, Data and Design teams to assist with analytics related technical issues and support their data infrastructure needs.\nWork with data and analytics experts to strive for greater functionality data systems\nTypical skills and background:\nSKILLS:\nCan work with data to identify patterns.\nUse judgement to form conclusions that may challenge conventional wisdom and focus on the crux of issues to identify high-leverage intervention points and strategies.\nRapidly acquire new knowledge and learn new skills\nSeek to understand business needs and get results that have a clear, positive, and direct impact on business performance\nApply different strategies to convince others to change their opinions or plans and ensure that proposals or arguments are supported by strong logic and a compelling business case, addressing all relevant factors.\nConsider the relative costs and benefits of potential actions to choose the most appropriate one\nCommunication and storytelling\nTeamwork and collaboration\nBanking domain business knowledge\nAdvanced analytics modelling and orchestration\nSolid development skills in Java, Scala and SQL\nSound knowledge of using data science tools and languages like Cloudera Data Science Workbench (CDSW), Jupyter Notebook, Python etc.\nClear hands-on mastery in big datab systems - Hadoop ecosystem, Cloud technologies (AWS, Azure, Google), in-memory database systems (HANA, Hazel cast, etc) and other database systems - traditional RDBMS (Terradata, SQL Server, Oracle), and NoSQL databases (Cassandra, MongoDB, DynamoDB)\nComfortable in dashboard development (Tableau, Powerbi, Qlik, etc) and in developing data analytics models (R, Python, Spark)\nEXPERIENCE AND QUALIFICATION:\nMasters degree from top-tier college/university in Computer Science, Statistics, Economics, or other closely-related field\nMinimum of 6 years' hands-on experience with a strong data background\nExtensive experience working with Big Data tools and building data solutions for advanced analytics\nExperience with statistical software, scripting languages, and packages (e.g. R, MATLAB, SAS, and Python)\nConsiderable experience in solving business problems with advanced analytical solutions\nProven experience in conducting statistical analysis and building models with advanced scripting language such as R, SPSS, or other analytic tools.\nExperience building and deploying predictive models, web scraping, and scalable data pipelines.\nStrong understanding of statistical methods and skills such as Bayesian Networks Inference, linear and non-linear regression, hierarchical, mixed models/multi-level modeling\nPractical knowledge across data extraction and transformation tools - traditional ETL tools (Informatica, Altryx) as well as more recent big data tools\nFinancial Renumeration will be based on your skills and expertise.\nNotice Period of 30 to 45 days preferred\nPrevious working experience in Middle East and Gulf regions preferred Roles and Responsibilities\n\n\nDesired Candidate Profile\n\n\nPerks and Benefits",
 'Data Scientist Primary Location India, Bangalore Date posted 08/01/2021\nApply Now Save Job ID: JR0024575\n\n\nJob Title:\nData Scientist\n\n\nRole Overview:\nData scientist will be doing research on innovative projects in platform engineering group at McAfee. Platform Engineering Group is the is one of the core groups responsible for collecting data from millions of sensors from various products of Enterprises, using the data to protect the customers, provide insights and necessary actions to be taken for security gap.\n\nThis position is an integral part of the McAfee Enterprise business segment which was acquired by Symphony Technology Group (STG) in July 2021. McAfee Enterprise and its team members remain committed to keeping governments and enterprises safe. This position is dedicated to and part of the McAfee Enterprise business.\n\n\n\nCompany Overview\nMcAfee is a leader in personal security for consumers. Focused on protecting people, not just devices, McAfee consumer solutions adapt to users needs in an always online world, empowering them to live securely through integrated, intuitive solutions that protects their families and communities with the right security at the right moment.\nAbout the Role:\nDevelop Machine learning models to analyze and obtain practical insights from large volume of data that requires expertise at data exploration, analysis and feature engineering\nExperiment and Develop POCs of innovative ideas to come up with new solutions for addressing security gaps\nCreate machine learning pipelines to automate generation of efficient and better models\nCommunicate and work with engineering teams to productionize the solutions\nTaking ownership and responsibility of the solutions and driving to closure\nParticipate in data and product analytics to develop customer insights and product features\nImplement newer machine learning algorithms and models to improve the efficacy of the existing solutions\nPublish research papers on the experiments and machine learning solutions\nAbout you :\n5+ years of experience in the field of Data Science\n5+ years of programming experience in at least one of Python or Java\n3+ years of working experience on large datasets using ML and experience with ML model life cycle\nPhD degree in Computer Science, Data Science, Statistics, Mathematics or other related fields is preferred\nDeep knowledge in Natural Language processing, Deep learning, statistics, predictive modeling and time series analysis.\nPassionate about Cybersecurity and want to apply machine learning solutions in this space to solve security problems.\nExperience working on Big data problems\nExperience working on problems relevant to detecting risk, fraud and trust is an added advantage\nExperience in working in AWS cloud environment is an added advantage\nExperience with Publishing research papers',
 'Roles and Responsibilities\n\nDetails in lined for Hiring Team to focus:\nThe hiring is for a single Data Scientist (7-8+yrs) as he/she shall be an individual contributor.\nWe shall seek for a strong java/python/scala with expertise into frameworks ML (spark/keras/tensorflow).\nML concepts has to be thorough with proven expertise in ( Decision Trees, Random Forest, NLP) Deep Learning is excluded.\nDesired Candidate Profile\n\n\nPerks and Benefits',
 'Dear Candidates\nWe are looking for a competent and enthusiastic candidate with the below requirement. This vital role ensures Cunesoft India Pvt Ltd (a Phlexglobal Company) Bangalore can provide a high-quality end product to internal and external users. This position requires strong technical and communication skills as well as both independent and team working, including working closely with all other areas of the software delivery team and the rest of the Technology department.\nRoles and Responsibilities\n\nKey Activities\nDevelop and improve the existing data mining and NLP related processes within our Regulatory Data Management platform\nDevelop new ways of improving and transforming the regulatory processes of Phlexglobal customers.\nInteract with product management, project management and development teams to develop additional modules and functions within the Phlexglobal Cloud Platform\nDesign and create solutions for pre specified modules and functions\nUse existing tools and techniques to develop and test new and existing work\nDefine, create and execute automated test cases, i.e. unit tests\nParticipate in troubleshooting and triaging of issues with different teams to drive towards root cause identification and resolution\nSupport production deployment of applications and perform validation testing during the off-hours maintenance windows\nSupport and fix existing and new identified issues by either customers or internal test teams.\n\nDesired Candidate Profile\n\n\nRequired Skills & Experience\n\nMinimum 3+ years working experience in NLP, Artificial Intelligence, Machine Learning, Text Mining, Neural Networks\nStrong programming skills using PYTHON\nIn depth experience with OpenNLP, Stanford NLP or related NLP / data mining technologies\nIn depth experience with Python and data libraries such as scikit learn, pandas, numpy, etc.\nSelecting features, building and optimizing classifiers using Machine learning techniques\nExcellent understanding of Machine Learning Techniques and Algorithms.\nMust have Data mining / Natural Language Processing experience\nMust have very good understanding of GIT\nProcessing, Cleansing, and verifying the integrity of data\nDevelop custom data models and algorithms to apply to data sets.\nDefining validation strategies\nDefining the preprocessing or feature engineering to be done on a given dataset\nDefining data augmentation pipelines\nTraining models and tuning their hyperparameters\nAnalyzing the errors of the model and designing strategies to overcome them\nDeploying models to production\n\nAdded advantages\n3+ years experience using Microsoft .NET / C#\nExposure to ML.Net, AutoML, NimbusML, etc\nGood knowledge of Microsoft Visual Studio is preferred\nGood to have Microsoft SQL Server, preferably Microsoft SQL Azure\nPrevious experience in the Life sciences area\n\nOther requirements\nExcellent verbal and written communication skills\nMust be flexible, independent and self motivated\nPunctual, Regular and consistent attendance\nAs part of the Interview process, you should have attempted the below mentioned Kaggle project.\n\nhttps://www.kaggle.com/c/titanic\n\nWe would like to arrange a phone interview with you. Please confirm your interest in this position by sending your recent CV attached along with below details.\n\nTotal years of Experience :\n\nRelevant Experience :\n\nCurrent CTC :\n\nExpected CTC :\n\nNotice Period :\n\nCurrent Location :\n\nBest time to talk to you :\n\nCandidates with relevant experience can contact me.\n\nWe are looking for a candidate who can join us immediately / in less than 15-20 days / 30 days / ASAP\n\nPlease ignore, if you have already been interviewed within 3 months.\n\nThanks\nSrini\n\nsarumugam@phlexglobal.com\n+91 63660 85842\n\nDot Net Developer\n\nJunior (3-5 yrs), Mid (5-8 yrs) & Lead (8-12 yrs) level roles.\n\nCommercial experience in web development using the full Microsoft .Net development stack (specifically C#, MVC, .Net Core), SQL, front-end frameworks (jQuery, React, etc).\n\nCoding, Entity framework, Linq, Source control system (Any - TFS or GIT), Data structures\n\nSkilled in modern development principles (Agile, SOLID, TDD, design patterns, IoC)\n\nAt least theoretical knowledge - know-SQL database (example\nAzure Cosmos)\n\nGood to have - Ideally experience of Azure, MVVM, microservices, message bus, containerisation, serverless.\n\nMicrosoft .Net development stack, C#, MVC, .Net Core, SQL, front-end frameworks, jQuery, React, Entity framework, Linq, TFS, GIT, Data structures, Agile, SOLID, TDD, design patterns, IoC, SQL database, Azure Cosmos, Azure, MVVM, microservices, message bus, containerisation, serverless',

In [145]:
#Checking length
print(len(company_titles),len(job_titles),len(experience_list),len(location_list),len(discriptions))

18 18 18 18 18

In [146]:
#Creating data frame
jobs_ds = pd.DataFrame({})
jobs_ds['Title'] = job_titles
jobs_ds['Company Name'] = company_titles
jobs_ds['Experience Required'] = experience_list
jobs_ds['Location'] = location_list
jobs_ds['Description'] = discriptions
jobs_ds

,Title,Company Name,Experience Required,Location,Description
0,Senior Data Scientist,Philips India Limited,8 - 10 years,Bangalore/Bengaluru,"Be a part of the Enterprise IT , Information..."
1,Senior Data Scientist,IBM India Pvt. Limited,10 - 15 years,Bangalore/Bengaluru,Required Candidate profile\nWe are looking for...
2,DATA SCIENTIST,SYMBIOSIS International W.L.L,4 - 8 years,Bangalore/Bengaluru,"Data Scientist Primary Location India, Bangalo..."
3,Senior Data Scientist,McAfee Software (India) Pvt. Ltd,8 - 13 years,Bangalore/Bengaluru,Roles and Responsibilities\n\nDetails in lined...
4,Software Developer - Data Scientist / NLP / Ma...,Datamatics Global Services Ltd,3 - 8 years,Bangalore/Bengaluru,Dear Candidates\nWe are looking for a competen...
5,Data scientist,Cunesoft India Private Limited,6 - 8 years,Bangalore/Bengaluru,About the role\nWe are looking for skilled mot...
6,Senior Data Scientist,Uber,2 - 5 years,Bangalore/Bengaluru,"Work location: Bengaluru (Currently, Remote)\n..."
7,Senior Data Scientist,IBM India Pvt. Limited,4 - 6 years,Bangalore/Bengaluru,Bidgely is looking for extraordinary and dynam...
8,Senior Data Scientist,IBM India Pvt. Limited,4 - 8 years,"New Delhi, Bangalore/Bengaluru, Delhi / NCR",Roles and Responsibilities:\n\nWork as part of...
9,Data Scientist - Permanent Role,Publicis Groupe,6 - 11 years,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Greetings from Onward Technologies!\n\nWe are ...
10,Senior Data Scientist,Bidgely Technologies Private Limited,4 - 9 years,Bangalore/Bengaluru,Roles and Responsibilities\nJob Description\nW...
11,Sr. Data Scientist / Tech Lead - Data Science,Goals 101 Data Solutions Pvt. Ltd.,6 - 9 years,Bangalore/Bengaluru,Role : Sr Data Scientist / Tech Lead - Data Sc...
12,Senior Data Scientist,Onward Technologies Limited,5 - 9 years,"Kochi/Cochin, Hyderabad/Secunderabad, Pune, Ch...",Key Requirements:\n• Data-oriented personality...
13,Lead Data Scientist - Tensorflow/Machine Learning,RANDSTAD INDIA PVT LTD,7 - 10 years,"Mumbai, Hyderabad/Secunderabad, Chennai, Banga...",Hiring for B2B saas product companies across P...
14,Associate Data Scientist,Confidential,5 - 10 years,Bangalore/Bengaluru,Engagement and collaboration with globally dep...
15,"Data Engineers , Data Scientist and SAP",L A Consultancy,7 - 10 years,Bangalore/Bengaluru,Dynamic recruiting professional with 7 - 10 ye...
16,Senior Data & Applied Scientist,Getinz Techno Services,3 - 5 years,Bangalore/Bengaluru,We are a team of applied scientists working on...
17,Senior Software Engineer - Data Scientist,ExecBoardinAsia,6 - 10 years,Bangalore/Bengaluru,Key Responsibilities:\n\n• Harvest Natural Lan...

In [148]:
#Getting top 10 jobs
jobs_ds_first10 = jobs_ds.head(10)
jobs_ds_first10

,Title,Company Name,Experience Required,Location,Description
0,Senior Data Scientist,Philips India Limited,8 - 10 years,Bangalore/Bengaluru,"Be a part of the Enterprise IT , Information..."
1,Senior Data Scientist,IBM India Pvt. Limited,10 - 15 years,Bangalore/Bengaluru,Required Candidate profile\nWe are looking for...
2,DATA SCIENTIST,SYMBIOSIS International W.L.L,4 - 8 years,Bangalore/Bengaluru,"Data Scientist Primary Location India, Bangalo..."
3,Senior Data Scientist,McAfee Software (India) Pvt. Ltd,8 - 13 years,Bangalore/Bengaluru,Roles and Responsibilities\n\nDetails in lined...
4,Software Developer - Data Scientist / NLP / Ma...,Datamatics Global Services Ltd,3 - 8 years,Bangalore/Bengaluru,Dear Candidates\nWe are looking for a competen...
5,Data scientist,Cunesoft India Private Limited,6 - 8 years,Bangalore/Bengaluru,About the role\nWe are looking for skilled mot...
6,Senior Data Scientist,Uber,2 - 5 years,Bangalore/Bengaluru,"Work location: Bengaluru (Currently, Remote)\n..."
7,Senior Data Scientist,IBM India Pvt. Limited,4 - 6 years,Bangalore/Bengaluru,Bidgely is looking for extraordinary and dynam...
8,Senior Data Scientist,IBM India Pvt. Limited,4 - 8 years,"New Delhi, Bangalore/Bengaluru, Delhi / NCR",Roles and Responsibilities:\n\nWork as part of...
9,Data Scientist - Permanent Role,Publicis Groupe,6 - 11 years,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Greetings from Onward Technologies!\n\nWe are ...

<b>Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs<b>

In [149]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [150]:
#Getting the url to the webpage
url = 'https://www.naukri.com/'
driver.get(url)

In [151]:
#Getting web element for searching job
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [152]:
#Searching for the asked Job position
search_job.send_keys("Data Scientist")

In [153]:
#Getting search button element and excecuting click
search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [154]:
location_filter = driver.find_element_by_xpath('//span[@class="ellipsis fleft"]')
location_filter

<b>Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
<b>

In [179]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [180]:

#Getting the url
url = 'https://www.glassdoor.co.in/member/home/index.htm'
driver.get(url)

In [181]:
#Getting web element for searching job
search_job = driver.find_element_by_id('scKeyword')
search_job

In [182]:
#Searching for the asked Job position
search_job.send_keys("Data Scientist")

In [183]:
#Seaching for asked location
search_loc = driver.find_element_by_id("scLocation")
search_loc.send_keys("Noida")

In [186]:
#Getting button element and excecuting click
driver.find_element
search_btn = driver.find_element_by_xpath('//button[@class="pl-0 pr-xsm SearchStyles__searchKeywordSubmit"]')
search_btn.click()

In [189]:
#scraping job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="a8bd240f-add5-48f9-9ba5-f33d0f64e850")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="c16ca412-a1b4-4791-a005-1c505b51a171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="37f8f5b7-7ed4-42a6-b37c-c80caf560822")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="5e80980d-d522-4228-aacb-8c04cb3647b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="3e24103f-56cf-4de6-bc91-a510fc9b58df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="e756e2e0-7d18-4c89-b1b8-21d2fae98489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="5ede444e-54e2-4201-96b4-9c0810017568")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="9dbe35c7-c163-4adc-bca2-527eb323e238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="de513733-b76a-418f-b745-052b95a3c6f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="2db4d6b4-c89c-49a5-b149-aabfa18ace69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="5c6bdc84-b4e4-4a9a-a2e9-670f2571113a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="ca11cc12-8735-4228-872b-2f11d43fcaa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="6de192e7-9a79-41e6-968c-2cc647916f9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="6f0ca94e-2ce4-454f-af24-b28c9620646e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="03ccd3a8-6b38-468a-a5d4-ab7faff0a78b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="52aafffe-aeee-457a-b01f-b9846e0b69d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="4dba1492-90c1-409f-a49d-0aa85228d967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="d97739f0-0964-4c2b-aac1-73f5c7ccdd93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="c908d148-3a4e-48ad-840d-b0ea7ea447d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="47cacaa2-e4fa-4658-8f14-8081620e6eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="f0025cb3-a342-4050-a26d-22bdf7920079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="03f3e40b-529e-4cca-a916-dcdc66d951ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="f52f7d1d-768b-4449-be40-1c8e418fc0e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="e5e66663-15f7-44be-aab1-d23a369e4cb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="45f165d6-6903-49f6-a49c-f324b999c200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="1949181a-f610-477d-9bce-1fc7961c26ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="a3ef07b2-4fbb-4194-8930-6b0b3d1f2388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="1c86ab8b-486c-4c7c-aead-883f65adecf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="fcd8188d-496d-4a40-b4d0-033f2395c7d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="33d46fb871fd75af14ff17a793e461df", element="ec0dfb24-3662-4ac1-84bb-3b2e3acb8f8d")>]

In [191]:
#scraping company names
companies_tags = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
#Getting text and saving in list
company_titles = []
for i in companies_tags:
    company_titles.append(i.text)
company_titles

['Liberin Technologies Private Limited',
 'Pixel Vision',
 'Crowe',
 'Newgen Software',
 'Salasar New Age Technologies',
 'Ericsson',
 'Techlive',
 'Biz2Credit Inc',
 'Uncodemy',
 'Salasar New Age Technologies',
 'DataTrained',
 'Innovacer',
 'NEC Opportunities',
 'SearchUrCollege',
 'Conduent',
 'Innovacer',
 'WishFin',
 'Deciman',
 'Data Trained Education',
 'WhizHack Technologies Pvt Ltd',
 'Emerging India Analytics',
 'dunnhumby',
 'Flip Robo Technologies',
 'British Council',
 'xtLytics',
 'Microsoft',
 'xtLytics',
 'Priority Vendor',
 'Decision Tree Analytics And Services',
 'Talent Shiksha']

In [197]:
companies = company_titles[0:10]

In [193]:
#scraping no of days ago the was posted
days_tags = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
#Getting text and saving in list
days_ago = []
for i in days_tags:
    days_ago.append(i.text)
days_ago

['11d',
 '21d',
 '30d+',
 '22d',
 '30d+',
 '6d',
 '30d+',
 '30d+',
 '2d',
 '30d+',
 '24h',
 '4d',
 '3d',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '10d',
 '1d',
 '26d',
 '2d',
 '1d',
 '2d',
 '24h',
 '30d+',
 '7d',
 '30d+',
 '30d+',
 '1d',
 '24h']

In [198]:
days = days_ago[0:10]

In [195]:
#scraping company ratings
rating_tags = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
#Getting text and saving in list
ratings = []
for i in rating_tags:
    ratings.append(i.text)
ratings

['3.8',
 '3.3',
 '4.1',
 '5.0',
 '4.1',
 '4.6',
 '3.8',
 '3.1',
 '3.8',
 '3.8',
 '3.7',
 '4.1',
 '4.3',
 '3.7',
 '3.0',
 '4.4',
 '3.0',
 '3.7',
 '4.7']

In [200]:
company_rating = ratings[0:10]

In [202]:
#Checking length
print(len(companies),len(company_rating),len(days))

10 10 10

In [203]:
#Creating data frame
jobs4 = pd.DataFrame({})
jobs4['Company Name'] = companies
jobs4['Posted(days ago)'] = days
jobs4['Rating'] = company_rating
jobs4

                           Company Name Posted(days ago) Rating
0  Liberin Technologies Private Limited              11d    3.8
1                          Pixel Vision              21d    3.3
2                                 Crowe             30d+    4.1
3                       Newgen Software              22d    5.0
4          Salasar New Age Technologies             30d+    4.1
5                              Ericsson               6d    4.6
6                              Techlive             30d+    3.8
7                        Biz2Credit Inc             30d+    3.1
8                              Uncodemy               2d    3.8
9          Salasar New Age Technologies             30d+    3.8

<b>Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.<b>

In [230]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [231]:
#Getting the url
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [232]:
#Getting web element for searching job
search_job = driver.find_element_by_id('KeywordSearch')
search_job

In [233]:
#Searching for the asked Job position
search_job.send_keys("Data Scientist")

In [234]:
#Seaching for asked location
search_loc = driver.find_element_by_id("LocationSearch")
search_loc.send_keys("Noida")

In [235]:
#Getting button element and excecuting click
search_btn = driver.find_element_by_class_name('gd-btn-mkt')
search_btn.click()

In [238]:
#scraping company names
companies_tags = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

#Getting text and saving in list
company_titles = []
for i in companies_tags:
    company_titles.append(i.text)
company_titles

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum',
 'Optum Global Solutions',
 'ZS Associates',
 'Innovaccer',
 'OYO',
 'Nagarro',
 'Cognizant Technology Solutions',
 'CARS24.com',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'Fresher']

In [248]:
#scraping company names
sal_tags = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")

#Getting text and saving in list
salary = []
for i in sal_tags:
    salary.append(i.text)
salary

['₹3L\n₹13L',
 '₹6L\n₹27L',
 '₹6L\n₹22L',
 '₹5L\n₹1Cr',
 '₹4L\n₹16L',
 '₹8L\n₹15L',
 '₹5L\n₹15L',
 '₹6L\n₹15L',
 '₹8L\n₹20L',
 '₹4L\n₹22L',
 '₹2L\n₹18L',
 '₹6L\n₹17L',
 '₹10L\n₹21L',
 '₹4L\n₹16L',
 '₹8L\n₹13L',
 '₹9L\n₹15L',
 '₹8L\n₹20L',
 '₹12T\n₹63T',
 '₹4L\n₹17L',
 '₹25T\n₹1L']

In [249]:
min_salary = [i.split('\n')[0] for i in salary]
min_salary

['₹3L',
 '₹6L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹8L',
 '₹4L',
 '₹2L',
 '₹6L',
 '₹10L',
 '₹4L',
 '₹8L',
 '₹9L',
 '₹8L',
 '₹12T',
 '₹4L',
 '₹25T']

In [253]:
max_salary =  [i[-4:] for i in salary]
max_salary

['₹13L',
 '₹27L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹17L',
 '₹21L',
 '₹16L',
 '₹13L',
 '₹15L',
 '₹20L',
 '₹63T',
 '₹17L',
 '\n₹1L']

In [262]:
#scraping number of salaries
no_of_salary = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")

#Getting text and saving in list
no_of_salaries = []
for i in no_of_salary:
    no_of_salaries.append(i.text)
no_of_salaries

['18 salaries',
 '18 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries']

In [265]:

#scraping average salaries
avg= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

#Getting text and saving in list
average_salary = []
for i in avg:
    average_salary.append(i.text)
average_salary

['₹6,12,205\n /yr',
 '₹9,00,000\n /yr',
 '₹11,63,336\n /yr',
 '₹12,18,244\n /yr',
 '₹7,39,238\n /yr',
 '₹12,80,000\n /yr',
 '₹8,63,750\n /yr',
 '₹11,10,000\n /yr',
 '₹14,23,677\n /yr',
 '₹13,28,697\n /yr',
 '₹11,42,356\n /yr',
 '₹12,09,040\n /yr',
 '₹14,15,338\n /yr',
 '₹10,22,074\n /yr',
 '₹10,09,021\n /yr',
 '₹10,00,000\n /yr',
 '₹10,55,478\n /yr',
 '₹34,157\n /mo',
 '₹10,54,402\n /yr',
 '₹80,000\n /mo']

In [267]:
#scraping company ratings
rating= driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

#Getting text and saving in list
ratings = []
for i in rating:
    ratings.append(i.text)
ratings

['3.9',
 '3.9',
 '4.1',
 '3.9',
 '4',
 '3.6',
 '4.2',
 '3.6',
 '3.7',
 '3.9',
 '4',
 '3.8',
 '3.3',
 '4',
 '3.8',
 '4.1',
 '4.1',
 '3.7',
 '3.6',
 '4.2']

In [268]:
#Checking length
print(len(company_titles),len(min_salary),len(max_salary),len(average_salary),len(ratings))

20 20 20 20 20

In [269]:
#Creating data frame
jobs5 = pd.DataFrame({})
jobs5['Company name'] = company_titles
jobs5['Min Salry'] = min_salary
jobs5['Max Salary'] = max_salary
jobs5['Location'] = average_salary
jobs5['Rating'] = ratings
jobs5

,Company name,Min Salry,Max Salary,Location,Rating
0,Tata Consultancy Services,₹3L,₹13L,"₹6,12,205\n /yr",3.9
1,IBM,₹6L,₹27L,"₹9,00,000\n /yr",3.9
2,Accenture,₹6L,₹22L,"₹11,63,336\n /yr",4.1
3,Delhivery,₹5L,₹1Cr,"₹12,18,244\n /yr",3.9
4,Ericsson-Worldwide,₹4L,₹16L,"₹7,39,238\n /yr",4
5,UnitedHealth Group,₹8L,₹15L,"₹12,80,000\n /yr",3.6
6,Valiance Solutions,₹5L,₹15L,"₹8,63,750\n /yr",4.2
7,EXL Service,₹6L,₹15L,"₹11,10,000\n /yr",3.6
8,Optum,₹8L,₹20L,"₹14,23,677\n /yr",3.7
9,Optum Global Solutions,₹4L,₹22L,"₹13,28,697\n /yr",3.9
10,ZS Associates,₹2L,₹18L,"₹11,42,356\n /yr",4
11,Innovaccer,₹6L,₹17L,"₹12,09,040\n /yr",3.8
12,OYO,₹10L,₹21L,"₹14,15,338\n /yr",3.3
13,Nagarro,₹4L,₹16L,"₹10,22,074\n /yr",4
14,Cognizant Technology Solutions,₹8L,₹13L,"₹10,09,021\n /yr",3.8
15,CARS24.com,₹9L,₹15L,"₹10,00,000\n /yr",4.1
16,dunnhumby,₹8L,₹20L,"₹10,55,478\n /yr",4.1
17,Vidooly Media Tech,₹12T,₹63T,"₹34,157\n /mo",3.7
18,Tech Mahindra,₹4L,₹17L,"₹10,54,402\n /yr",3.6
19,Fresher,₹25T,\n₹1L,"₹80,000\n /mo",4.2

In [270]:
#Getting top 10 jobs
jobs5_first10 = jobs5.head(10)
jobs5_first10

                Company name Min Salry Max Salary          Location Rating
0  Tata Consultancy Services       ₹3L       ₹13L   ₹6,12,205\n /yr    3.9
1                        IBM       ₹6L       ₹27L   ₹9,00,000\n /yr    3.9
2                  Accenture       ₹6L       ₹22L  ₹11,63,336\n /yr    4.1
3                  Delhivery       ₹5L       ₹1Cr  ₹12,18,244\n /yr    3.9
4         Ericsson-Worldwide       ₹4L       ₹16L   ₹7,39,238\n /yr      4
5         UnitedHealth Group       ₹8L       ₹15L  ₹12,80,000\n /yr    3.6
6         Valiance Solutions       ₹5L       ₹15L   ₹8,63,750\n /yr    4.2
7                EXL Service       ₹6L       ₹15L  ₹11,10,000\n /yr    3.6
8                      Optum       ₹8L       ₹20L  ₹14,23,677\n /yr    3.7
9     Optum Global Solutions       ₹4L       ₹22L  ₹13,28,697\n /yr    3.9

<b>Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
<b>

In [366]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [367]:
#Getting the url
url = 'https://www.flipkart.com/'
driver.get(url)

In [368]:
#Getting web element for searching job
search_prod = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_prod

In [369]:
#Searching for the asked product
search_prod.send_keys("sunglasses")

In [370]:
#Getting button element and excecuting click
search_btn = driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [371]:
#scraping brand name
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#Getting text and saving in list
brands = []
for i in brand_tags:
    brands.append(i.text)

In [372]:
#scraping product description
description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
#Getting text and saving in list
product_description = []
for i in description:
    product_description.append(i.text)

In [373]:
#scraping price
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#Getting text and saving in list
prices = []
for i in price:
    prices.append(i.text)

In [374]:
#scraping discount
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#Getting text and saving in list
discounts = []
for i in discount:
    discounts.append(i.text)

In [375]:
print(len(brands),len(product_description),len(prices),len(discounts))

40 40 40 40

In [376]:
#Getting next button element and excecuting click
next_btn = driver.find_element_by_class_name('_1LKTO3')
next_btn.click()

In [377]:
#scraping product description
description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
#Getting text and saving in list
for i in description:
    product_description.append(i.text)
product_description

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Mirrored Wayfarer Sunglasses (61)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (61)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Sports Sunglasses (73)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (53)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Oval Sunglasses (Free Size)',
 'Others Rectangular Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Mirrored, UV Protection Oval Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)']

In [378]:
#scraping price
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#Getting text and saving in list
for i in price:
    prices.append(i.text)

In [379]:
#scraping discount
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#Getting text and saving in list
for i in discount:
    discounts.append(i.text)

In [380]:
#scraping brand name
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#Getting text and saving in list
for i in brand_tags:
    brands.append(i.text)

In [381]:
print(len(brands),len(product_description),len(prices),len(discounts))

80 80 80 80

In [382]:
next_btn.click()

In [383]:
#scraping brand name
brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#Getting text and saving in list
for i in brand_tags:
    brands.append(i.text)

In [384]:
#scraping product description
description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
#Getting text and saving in list
for i in description:
    product_description.append(i.text)

In [385]:

#scraping price
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#Getting text and saving in list
for i in price:
    prices.append(i.text)

In [386]:
#scraping discount
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#Getting text and saving in list
for i in discount:
    discounts.append(i.text)

In [387]:
print(len(brands),len(product_description),len(prices),len(discounts))

120 120 120 120

In [388]:
#Creating data frame
sunglasses = pd.DataFrame({})
sunglasses['Brand'] = brands
sunglasses['Desc'] = product_description
sunglasses['Price'] = prices
sunglasses['Discount'] = discounts

In [392]:
sunglasses_df = sunglasses.head(100)
sunglasses_df

,Brand,Desc,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699,22% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
3,Fastrack,UV Protection Aviator Sunglasses (58),₹969,25% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
...,...,...,...,...
95,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹239,84% off
96,Villain,Others Retro Square Sunglasses (Free Size),₹599,20% off
97,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹309,66% off
98,Fravy,UV Protection Wayfarer Sunglasses (56),₹169,81% off
99,Singco,Mirrored Aviator Sunglasses (53),₹239,76% off

<b>Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.<b>

In [414]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [415]:
#Getting the url
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC'
driver.get(url)

In [416]:
ratings = []
reviews = []
full_reviews = []
while len(ratings)<100:
    #scraping rating
    rating_tags = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    #Getting text and saving in list
    for i in rating_tags:
        ratings.append(i.text)
    #scraping reviews
    review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    #Getting text and saving in list
    for i in review_tags:
        reviews.append(i.text)
    #scraping full reviews
    full_review_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    #Getting text and saving in list
    for i in full_review_tags:
        full_reviews.append(i.text)

In [417]:
print(len(ratings),len(reviews),len(full_reviews))

100 100 100

In [418]:
#Creating data frame
iphone = pd.DataFrame({})
iphone['Rating'] = ratings
iphone['Review Summary'] = reviews
iphone['Full review'] = full_reviews
iphone

,Rating,Review Summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
96,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Best in the market!,Great iPhone very snappy experience as apple k...

<b>Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
<b>

In [428]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [429]:
#Getting the url
url = 'https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_8_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=f4d20b5b-9905-4f3d-a660-1f094c9f8b02&as-searchtext=sneakers'
driver.get(url)

In [430]:
brands = []
product_description = []
price = []
discount = []
while len(brands)<100:
     #scraping brands
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    #Getting text and saving in list
    for i in brand_tags:
        brands.append(i.text)
    #scraping product description
    desc_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    #Getting text and saving in list
    for i in desc_tags:
        product_description.append(i.text)
    #scraping price
    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    #Getting text and saving in list
    for i in price_tags:
        price.append(i.text)
    #scraping discount
    discount_tags = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    #Getting text and saving in list
    for i in discount_tags:
        discount.append(i.text)

In [431]:
print(len(brands),len(product_description),len(price),len(discount))

120 120 120 120

In [432]:
#Creating data frame
sneakers = pd.DataFrame({})
sneakers['Brand'] = brands
sneakers['Desc'] = product_description
sneakers['Price'] = price
sneakers['Discount'] = discount
sneakers

,Brand,Desc,Price,Discount
0,PUMA,Cape IDP Sneakers For Men,"₹1,418",59% off
1,PUMA,MAPF1 X-RAY 2 Sneakers For Men,"₹3,690",53% off
2,bluemaker,casual for men (blue 06) Sneakers For Men,₹399,60% off
3,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹331,66% off
4,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹679,72% off
...,...,...,...,...
115,PUMA,Ferrari Race X-Ray 2 Sneakers For Men,"₹3,200",59% off
116,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹447,75% off
117,bluemaker,casual for men (black 07) Sneakers For Men,₹399,60% off
118,PUMA,Simha IDP Sneakers For Men,"₹1,115",62% off
119,asics,CLASSIC CT SLIP-ON Sneakers For Men,"₹2,384",47% off

In [433]:
sneakers_100 = sneakers.head(100)
sneakers_100

,Brand,Desc,Price,Discount
0,PUMA,Cape IDP Sneakers For Men,"₹1,418",59% off
1,PUMA,MAPF1 X-RAY 2 Sneakers For Men,"₹3,690",53% off
2,bluemaker,casual for men (blue 06) Sneakers For Men,₹399,60% off
3,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹331,66% off
4,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹679,72% off
...,...,...,...,...
95,PUMA,Puma Smash v2 Buck Sneakers For Men,"₹1,470",57% off
96,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹384,61% off
97,ASIAN,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹599,25% off
98,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹536,66% off
99,PUMA,Rebound LayUp Lo SL Sneakers For Men,"₹1,976",60% off

<b>Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image
   And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image<b>

In [483]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [484]:
#Getting the url
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [485]:
#Getting button element and excecuting click
filter_price_btn = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price_btn.click()
filter_black_btn = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_black_btn.click()

In [487]:
#Scraping data
brands = []
desc = []
price = []
while len(titles)<100:
     #scraping brands
    brand_tags = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    #Getting text and saving in list
    for i in brand_tags:
        brands.append(i.text)
    #scraping product description
    desc_tags = driver.find_elements_by_xpath("//h4[@class='product-product']")
    #Getting text and saving in list
    for i in desc_tags:
        desc.append(i.text)
    #scraping price
    price_tags = driver.find_elements_by_xpath("//div[@class='product-price']")
    #Getting text and saving in list
    for i in price_tags:
        price.append(i.text)
    #Getting button element and excecuting click
    driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a').click()

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=92.0.4515.131)

In [488]:
print(len(brands),len(product_description),len(price),len(discount))

63 120 50 120

<b>Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:<b>

In [463]:
#Connecting to driver
driver = webdriver.Chrome(r"C:\Users\sumuk\Downloads\chromedriver_win32\chromedriver.exe")

In [464]:

#Getting the url
url = 'https://www.amazon.in/'
driver.get(url)

In [465]:

#Getting web element for searching laptop
search_prod = driver.find_element_by_id('twotabsearchtextbox')
search_prod

In [466]:
#Searching for laptpo
search_prod.send_keys("Laptop")

In [467]:

#Getting button element and excecuting click
search_btn = driver.find_element_by_class_name('nav-right')
search_btn.click()

In [468]:

#Getting button element to filter i7 and excecuting click
filter_i7 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
filter_i7.click()

In [469]:
#Getting button element to filter i9 and excecuting click
filter_i9 = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i')
filter_i9.click()

In [470]:
titles = []
ratings = []
price = []
while len(titles)<10:
     #scraping brands
    title_tags = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    #Getting text and saving in list
    for i in title_tags:
        titles.append(i.text)
    #scraping product description
    ratings_tags = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
    #Getting text and saving in list
    for i in ratings_tags:
        ratings.append(i.text)
    #scraping price
    price_tags = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    #Getting text and saving in list
    for i in price_tags:
        price.append(i.text)

In [476]:
#checking length
print(len(titles),len(ratings),len(price))

25 25 25

In [477]:
#Creating data frame
laptops = pd.DataFrame({})
laptops['Title'] = titles
laptops['Rating'] = ratings
laptops['Price'] = price
laptops

                                                Title Rating     Price
0   Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...         1,03,890
1   HP Envy 11th Gen Core i7 Processor 13.3-inch (...           99,990
2   HP Pavilion (2021) Thin & Light 11th Gen Core ...           84,990
3   Life Digital Laptop 15.6-inch (39.62 cms) (Int...           29,990
4   ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...           71,990
5   Mi Notebook Horizon Edition 14 Intel Core i7-1...           59,999
6   Life Digital Laptop 15.6-inch (39.62 cms) (Int...           34,990
7   NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch La...           56,155
8   OMEN 17 Gaming Laptop, NVIDIA GeForce RTX 2070...           74,990
9   MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...           89,990
10  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           89,990
11  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...           85,390
12  Dell Inspiron 5502 15.6" FHD AG Display Laptop...         1,19,990
13  (Renewed) Lenovo Legion Y740 Intel 9th Gen Cor...           59,999
14  Mi Notebook Horizon Edition 14 Intel Core i7-1...           83,990
15  ASUS VivoBook S S15 (2021), 15.6-inch (39.62 c...         1,00,990
16  MSI GF63 Thin, Intel 10th Gen. i7-10750H, 15.6...           51,999
17  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...           50,999
18  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...           77,990
19  (Renewed) HP Intel Core i7 6700HQ 15.6-Inch (3...           43,999
20  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...           46,999
21  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...           85,000
22  Lenovo ThinkPad P53s Workstation Laptop (Intel...           82,990
23  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...           46,999
24  Lenovo Legion 5 10th Gen Intel Core i7-10750H ...           96,990

In [478]:
laptops_10 = laptops.head(10)
laptops_10

                                               Title Rating     Price
0  Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...         1,03,890
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...           99,990
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...           84,990
3  Life Digital Laptop 15.6-inch (39.62 cms) (Int...           29,990
4  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...           71,990
5  Mi Notebook Horizon Edition 14 Intel Core i7-1...           59,999
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...           34,990
7  NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch La...           56,155
8  OMEN 17 Gaming Laptop, NVIDIA GeForce RTX 2070...           74,990
9  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...           89,990